.Navbar_ {
    .NavBar_Logo{
        color: $DarkColor;
    }
    .Navbar_UserProfil{
      position: relative;
      height: 35px;
      width: 35px;
      border-radius: 100%;
      overflow: hidden;
      object-fit: contain;
      border: none;
      img{
        position: absolute;
        width: 35px;
        height: auto;
      }
    }
  }